.footer-imagem {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.9rem;
}

.contador {
    display: flex;
    color: var(--cor-contador-favoritos);
    font-size: 0.9rem;
}

.contador button {
    color: var(--cor-contador-favoritos);
    background-color: transparent;
    border: none;
    outline: none;
}

.contagem-favorito {
    margin-right: 0.3rem;
}