.imagem-painel {
    width: 31%;
}

.imagem-painel img{
    cursor: pointer;
    transition: 0.3s;
}


/* ------------------------------------------------------------- MEDIA -------------------------------------------------- */

@media (max-width: 720px){
    .imagem-painel{
        width: 31.5%;
    }
}

@media (max-width: 560px){
    .imagem-painel{
        width: 33%;
    }

    div .footer-imagem{
        display: none;
    }
}