@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800,900|Roboto:400,700&display=swap');
:root {
    --cor-titulos-cabecalho: #554d56;
    --cor-titulo-sessao: #979197;
    --cor-info-paleta-cores: #979197;
    --cor-titulo-text-style: #554d56;
    --cor-subtitulo-text-style: #554d56;
    --cor-detalhe-text-style: #979197;
    --cor-contador-favoritos: #ee6723;
    --font-family-titulos: Roboto Slab, Roboto, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

#root {
    /* padding: 8rem 7rem; */
    padding: 8rem 0 0 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    font-family: Roboto, Helvetica, sans-serif;
}

.principal {
    padding: 2rem 0 0 0;
    display: block;
    width: 1040px;
}

@media (min-width: 1800px) {
    .principal {
        width: 1400px;
    }
}

@media (max-width: 1120px) {
    #root {
        padding: 5rem 2.5rem;
    }
}

@media (max-width: 720px){
    #root{
        padding: 5rem 1.4rem;
    }
}

@media (max-width: 560px) {
    #root {
        padding: 4rem 1rem;
    }
}
